<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% if page.mathjax %}
  {% include mathjax_support.html %}
  {% endif %}
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  <script src="{{ '/assets/js/just-the-docs.js' | relative_url }}" async></script>
  {% if page.social_image %}
  <meta property="og:image" content="{{ page.social_image }}">
  {% endif %}
  {% if site.google_analytics %}
  {% include analytics/google-analytics.html %}
  {% endif %}
</head>
